<!-- 

  Saliba Family Website

  Harry Saliba 2022

 -->

<html>
<head>
  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>
    <!-- CSS only -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/stylesheet.css">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/png">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/exifr"></script>
    <script src="{{ .Site.BaseURL }}/script.js" defer></script>
    <!-- Start Tracking Code -->
    <script async defer data-website-id="099bc9d2-a51b-47cf-adf3-6b0d2f3199b2" src="https://harry.technology/monitor/umami.js"></script>
    <!-- End Tracking Code -->
  </head>
  <body>
    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "footer.html" }}
  </body>
</html>